# Index page
# DirectoryIndex index.php

Redirect /foobar/ https://example.com

# Rewrite rules
# ==========================================================================
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent image hotlinking
    # RewriteCond %{HTTP_REFERER} !^http://example\.net/?.*$ [NC]
    # RewriteCond %{HTTP_REFERER} !^http://example\.com/?.*$ [NC]
    # RewriteRule \.(gif|jpe?g|png|bmp)$ - [F,NC]

    # Front controller route all files (except jpe?g|png|gif|css|js)
    # RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif|css|js)$ [NC]
    # RewriteRule ^(?!index\.php)(.+)$ index.php [NC,QSA,L]

    # Front controller routing for existent files/directories
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule .* /index.php [L,QSA]

    # Rewrite /view/pages/ to /
    # RewriteRule /view/pages/ /

    # Redirect everything except resource files to the Front Controller
    RewriteCond %{REQUEST_URI} !^/index.php$
    RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|svg|css|js)$
    RewriteRule .* /index.php [L,QSA]

    # Silent redirect to 404 on non-existent page/directory
    # RewriteCond %{REQUEST_FILENAME} !-f    
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule .* /view/pages/errors/404.php [L]

    # Set fallback for non-existent files/directories
    # FallbackResource /view/pages/errors/404.php

</IfModule>

# Custom error pages
# ==========================================================================
# Bad request
# ErrorDocument 400 /custom_40x.html
# Unathorized
# ErrorDocument 401 /custom_40x.html
# Forbidden
# ErrorDocument 403 /custom_40x.html
# Not found
# ErrorDocument 404 /view/pages/errors/404.php

# # Internal server error
# ErrorDocument 500 /custom_50x.html
# # Gateway error
# ErrorDocument 502 /custom_50x.html
# # Service unavailable
# ErrorDocument 503 /custom_50x.html
# # Gateway timeout
# ErrorDocument 504 /custom_50x.html