:root {
    --primary-default-color:#4e73df;
    --primary-color: #4e73df;
    --primary-gradient-secondary-color: #224abe;
    --primary-color-rgb: rgb(78, 115, 223);
    --primary-color-input-rgba: rgb(78, 115, 223, 0.1);
    --secondary-color: #858796;
    --bg-color: #f8f9fc;
    --text-light: #fff;
    --text-black: #212529;
    --text-grey: #5a5c69;
    --text-grey-light: #b7b9cc;
    --section-heading-bg: #f8f9fc;
    --section-text-color: #858796;
    --yellow-color: #f6c23e;
    --green-color: #1cc88a;
    --red-color: #dc3545;

    --danger-red-bg: #f8d7da;
    --success-green-text: #155724;
    --success-green-bg: #d4edda;
    --warning-yellow-text: #856404;
    --warning-yellow-bg: #fff3cd;
    --warning-color: #f6c23e;

    --switch-bg-grey-color: #ccc;

    /* widths */
    --sidebar-width: 224px;
}

/* set default box sizing to border box */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;
}

.hidden {
    display: none;
}

.active {
    opacity: 1 !important;
}

.width-100 {
    width: 100% !important;
}

.bg-gradient-primary {
    background-color: var(--primary-color);
    background-image: linear-gradient(180deg, var(--primary-color) 10%, var(--primary-gradient-secondary-color) 100%);
    background-size: cover;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-green {
    color: var(--green-color);
}

.side-bar {
    display: flex;
    flex-direction: column;

}

.side-nav {
    width: var(--sidebar-width);
    min-height: 100vh;
    height: 100%;
    color: var(--text-light);

    padding: 1em;
    text-align: center;
}

.side-nav i {
    margin-right: 0.2em;
}

.main-logo {
    margin-top: 0.2em;
}

.main-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo span {
    margin-left: 0.4em;
    font-size: 0.6em;
}

.nav {
    padding: 0;
    margin: 0;

    text-align: left;
}

.nav li {
    padding: 0.5em;
}

.nav a {
    opacity: 0.68;
}

.nav a:hover {
    opacity: 1;
}

.nav-section {
    margin: 0.5em 0;

    text-transform: lowercase;
    font-variant: small-caps;
    opacity: 0.28;
}

.nav-divide {
    opacity: 0.6;
}

main {
    flex-grow: 1;
    padding: 0;
    color: var(--text-grey);
}

.content-statistics-wrapper {
    display: flex;
    gap: 1.5em;
}

.content-statistics-wrapper-projects {
    flex-basis: 60%;
}

.content-statistics-wrapper-statistics {
    flex-basis: 40%;
}

.main-content {
    padding: 1.5em;
}

.main-content h1 {
    display: flex;
    align-items: center;

    font-size: 1.8em;
    margin: 0;
    padding-bottom: 0.8em;
    letter-spacing: 1px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;

    margin: 0;
    background-color: white;
}

.top-nav {
    font-size: 0.8em;
    padding: 1em 2em;
}

.top-nav button {
    padding: 0.9em 1.1em;
    color: var(--text-light);
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0 0.5em 0.5em 0;
}

.top-nav button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.top-nav input {
    width: 50ch;
    color: var(--text-grey);
    background-color: var(--bg-color);
    padding: 0.9em 1.1em;
    margin: 0;
    border: 0;
    border-radius: 0.5em 0 0 0.5em;
}

.top-nav input:focus {
    /* primary color but in rgba format */
    outline-color: rgba(78, 115, 223, 0.5);
}

::placeholder {
    opacity: 0.5;
}

::-ms-input-placeholder {
    opacity: 0.5;
}

.user a {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user a:hover {
    opacity: 1;
}

.user span {
    margin-right: 0.6em;
}

.user img {
    width: 32px;
    height: 32px;
}

.add-session {
    max-width: 44%;
}

.data-section {
    background-color: white;
    color: var(--section-text-color);
    line-height: 1.4;
    letter-spacing: 0.2px;
    margin-top: 1em;
}

.data-section > * {
    padding: 1em 1.2em;
}

.data-section h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 500;

    background-color: var(--section-heading-bg);
    border-bottom: 1px solid #e3e6f0;
    color: var(--primary-color);
}

.data-section label {
    margin-right: 0.4em;
}

.selection-dropdown {
    /* selection element styling */
    padding: 0.5em;
    border: none;
    outline: none;
    /* appearance: none; */

    /* background-position: right 50px center; */
    background-color: var(--section-heading-bg);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 6px;

}

.form input {
    background-color: var(--bg-color);
    padding: 0.7em 0.9em;
    margin: 0;
    border: 0;
    border-radius: 8px;
}

.form .form-color-pick {
    padding: 0em;
    width: 2em;
    margin-left: 0.2em;
    position: relative;
    top: 0.3em;
}

.time-input {
    width: 10ch;
}

.form input:focus {
    /* primary color but in rgba format */
    outline-color: rgba(78, 115, 223, 0.5);
}

.form-row {
    margin-bottom: 1.2em;
}

.form-row:last-of-type {
    margin-bottom: 0;
}

.form-divide {
    margin: 2em 0;
    border-color: var(--primary-color);
    opacity: 0.28;
}

.form-btn {
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
    border: none;
    margin-left: 1em;
}

.form-btn > * {
    padding: 0.6rem 0.7rem ;
}

.form-btn i {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.5);
}

.form-btn span {
    color: white;
}

.form-btn:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.btn-submit {
    margin-top: 1em;
    background-color: var(--green-color);
}

.btn-danger {
    margin-top: 1em;
    background-color: var(--red-color);
}

.btn-primary {
    margin-top: 1em;
    background-color: var(--primary-color);
}

.btn-secondary {
    margin-top: 1em;
    background-color: var(--secondary-color);
}

.btn-warning {
    margin-top: 1em;
    background-color: var(--warning-color);
}

.alert {
    padding: 0.8em 1.2em;
    margin: 1em;
    border-radius: 2px;
}

.danger {
    color: var(--red-color);
    background-color: var(--danger-red-bg);
}

.success {
    color: var(--success-green-text);
    background-color: var(--success-green-bg);
}

.warning {
    color: var(--warning-yellow-text);
    background-color: var(--warning-yellow-bg);
}

.main-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    margin-top: 6em;
    font-size: 0.8em;
    text-align: center;
    background-color: white;
    color: var(--section-text-color);
    padding: 2em 0;
    font-weight: 200;
}

.project-section {
    width: 60%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.2em 0.5em;
}

table th {
    font-weight: 500;
}

table th, table td {
    padding: 0.2em;
}

.project-info th {
    width: 40%;
}

.project-info {
    text-align: left;
}

.heading-icon {
    font-size: 1.08em;
    margin-left: 0.4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.heading-icon i {
    color: var(--primary-color);
}

.heading-icon:hover {
    filter: brightness(85%);
}

.overall-statistics {
    width: 100%;
}

.overall-statistics canvas {
    width: 100%;
    margin-top: 1em;
}

.overall-statistics-foot {
    padding: 0 1.68em 1.5em 1.68em
}

.overall-statistics-foot hr {
    opacity: 0.54;
}

.overall-statistics-foot button {
    margin-left: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);

    /* fade in animation for bg*/
    opacity: 0;
    transition: opacity 150ms linear;
}

.modal-dialog {
    /* slide in animation for dialog window  */
    transform: translateY(-25%);
    transition: transform 300ms ease-out;
}

.modal-show {
    opacity: 1;
}

.modal-show .modal-dialog {
    transform: translate(0, 0);
}

.modal-dialog {
    font-size: 0.96em;
    color: var(--text-black);
    background-color: white;
    border-radius: 6px;
    max-width: 26%;
    margin: 2em auto;
}

.modal-title {
    font-weight: 500;
    margin: 0;
    font-size: 1.2em;
}

.modal-close-btn {
    color: var(--text-grey);
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    border: none;
    background-color: white;

    margin-right: -0.3em;
}

.modal-close-btn:hover {
    cursor: pointer;
    color: var(--text-black);
}

.modal-header, .modal-body, .modal-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.modal-header, .modal-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.modal-header {
    justify-content: space-between;
}

.modal-body {
    line-height: 1.5;
}

.modal-body p {
    margin-bottom: 0.8em;
}

.modal-body .modal-comment {
    width: 100%;
    margin-bottom: 2em;
    color: var(--text-grey);
}

.modal-body .color-input {
    margin-top: 0.1em;
    width: 100%;
}

.modal-footer {
    justify-content: flex-end;
}

.modal-btn {
    line-height: normal;
    margin-top: 0;
}

.modal-btn span {
    display: inline-block;
}

.http-error h1 {
    font-size: 7rem;
    display: block;
    padding: 0;
}

.http-error h4 {
    font-style: italic;
    text-transform: capitalize;
    margin: 0 0 4em 0;
}

.http-error p {
    font-size: 0.96em;
    color: var(--text-grey-light);
    margin-bottom: 0.38em;
}

.http-error a {
    color: var(--primary-color);
}

.http-error a:hover {
    text-decoration: underline;
}

.content-statistics-wrapper .browse-tasks {
    height: 12em;
}

.content-statistics-wrapper .add-task {
    flex-basis: 40%;
}

.content-statistics-wrapper-browse {
    flex-basis: 60%;
}

.session-padding {
    padding-bottom: 1em;
}

.int-input {
    width: 10ch;
}

.button-margin {
    margin-top: 2em;
}

.next-day-checkbox {
    display: inline-flex;
    align-items: center;

    margin-left: 2em;
    user-select: none;
}

.next-day-checkbox input {
    margin-left: 0.4em;
    /* accent-color: (--bg-color); */
}

.btn-with-alert {
    margin-top: 0em;
}

.a-btn {
    display: inline-block;
}

.a-btn-and-btn {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.calculated-time {
    margin-left: 2em;
    color: var(--green-color);
}

.calculated-time::before {
    content: '= ';
}

.calculated-time-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input:disabled {
    background-color: var(--primary-color-input-rgba);
}

.configuration-options {
    width: 38%;
}

.double-header {
    padding: 1em 1.2em;
    background-color: var(--section-heading-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.double-header h2 {
    background-color: transparent;
    border: none;
}

.form-heading {
    padding: 0;
}

.browse-tasks.project-select {
    height: auto;
}

.switch-label {
    display: flex;
    align-items: center;
}

.switch-label .switch {
    margin-left: 0.4em;
}

/* slider switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 3.2em;
    height: 1.9em;
}

.switch:hover {
    cursor: pointer;
}

/* hide default checkbox input */
.switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    
}

.slider {
    display: inline-block;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--switch-bg-grey-color);
    border-radius: 0.8em;

    transition: background-color 200ms ease;
}

.slider::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: white;
    border-radius: 50%;

    height: 1.4em;
    width: 1.4em;

    /* center vetically */
    top: 50%;
    transform: translateY(-50%);

    left: 0.2em;
    /* parent 0width & height = 3.4em */
    /* 1.4em * 2 + left(0.2em) & right (0.2em) = 3.4em*/

    transition: transform 200ms ease;
}

.switch-checkbox:checked + .slider::before {
    /* move slider's full width (1.4em) */
    transform: translate(1.4em, -50%);
}

.switch-checkbox:checked + .slider {
    background-color: var(--primary-color);
}

/* project groups landingpage styles */
.no-background {
    background-color: white;
}

.project-groups-container {
    position: relative;

    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color);
}

/* fading out on sides effect (parent element must be relative positioned!)*/
.fade::before, .fade::after {
    position: absolute;
    z-index: 1;
    display: block;
    content: '';
    top: 0;
    width: 20%;
    height: 100%;
}

.fade::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), 30%, var(--bg-color) 70%);
}

.fade::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), 30%, var(--bg-color) 70%);
}

.project-groups-container header {
    color: var(--text-light);
    background-color: var(--primary-default-color);
    text-align: center;

    padding: 0.8em;
}

.project-groups-container .main-logo {
    margin: 0;
}

.project-groups {
    width: 75%;
    height: 100%;

    margin: auto;
    text-align: center;
}

.project-groups h2 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    padding: 2em 0 1em 0;
    width: 48%;
    font-size: 1em;
    font-weight: 500;

    background-color: var(--section-heading-bg);
    border-bottom: 1px solid #e3e6f0;
    color: var(--primary-color);
}

.project-groups h2 a {
    font-size: 1.2em;
    margin-left: 0.5em;
}

.carousel {
    margin: auto;;
    margin-top: 2em;
    width: 65%;
    position: relative;
}

.carousel-viewport {
    position: relative;
    height: 640px;
    overflow-x: hidden;
    overflow-y: visible;
}

.carousel-slider {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.carousel-animation {
    transition: transform 300ms linear;
}

.carousel-card {
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 1.6em;
    border: none;

    /* background color & text color will be specified dynamically */
    background-color: var(--primary-color);
    background-image: linear-gradient(180deg, var(--primary-color) 10%, var(--primary-gradient-secondary-color) 100%);
    color: var(--text-light);

    padding: 1em 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.carousel-card > * {
    width: 100%;
}

.card-header {

}

.card-header h3 {
    font-size: 2em;
}

.card-body {
    width: 52%;
    text-align: left;
    align-self: flex-start;
    margin-left: 3em;
}

.card-body ul {
    margin-top: 0.4em;
    overflow-y: scroll;
    height: 8em;
    border-radius: 5px;
    font-style: italic;

    /* scrollbars */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none   ;  /* Firefox */
}

.card-body ul::-webkit-scrollbar {
    display: none;
}

.card-body li {
    line-height: 1.4;
}

.card-projects {
    margin-bottom: 1.4em;
}

.card-body h4 {
    font-size: 1.2em;
    margin: 0;
}

.group-projects-dialog {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.15);
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-footer i {
    margin-left: 1em;
}

.card-footer p {
    display: flex;
    justify-content: space-between;
}



.carousel-card.is-selected {
    border: 1px inset;
    box-shadow: inset 0 .15rem 1.75rem 0 rgba(58,59,69,.30);
}

.carousel-next-btn, .carousel-previous-btn {
    position: absolute;
    z-index: 2;
    /* half of cards height */
    top: calc(640px / 2);

    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-default-color);
    color: var(--text-light);
    border-radius: 50%;
    font-size: 1.4em;
    line-height: 1;
    width: 1.8em;
    height: 1.8em;
    border: 0;
    filter: brightness(92%);

    /* visual alignment */
    padding-top: 0.1em;

}

.carousel-next-btn:hover, .carousel-previous-btn:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.carousel-next-btn {
    right: 8%;
    /* padding-right: 0.05em; */
}

.carousel-previous-btn {
    left: 8%;
    /* padding-left: 0.05em; */
}

.carousel-card-dots {
    position: absolute;
    bottom: -30px;

    margin: 0;
    padding: 0;
    width: 100%;

    list-style: none;
    text-align: center;
    line-height: 1;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    filter: alpha(opacity=25);
    opacity: 0.25;
    cursor: pointer;
}

.dot.is-selected {
    background-color: var(--primary-color);
    opacity: 1;
}

.carousel-card.is-selected:hover {
    filter: brightness(95%);
    /* cursor: pointer; */
}

.project-groups-container footer {
    margin: 0;
    font-size: 0.7em;
}
